:root {
  /* COLORS */
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-pale-blue: hsl(245, 75%, 52%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);

  /* TYPOGRAPHY */
  --font-size-body: 16px;
  --font-family-body: "Red Hat Display", sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--font-family-body);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  border: 2px solid darkblue;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/illustration-hero.svg");
}

.card-content {
  padding: 2rem 1.25rem;
}

.card-content > * + * {
  margin-top: 1.25rem;
}

.plan {
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
  background-color: var(--clr-very-pale-blue);
  border-radius: 10px;
}

.plan a {
  align-self: center;
  margin-left: auto;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.attribution {
  padding: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}
